%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title Moje posiłki

  %div.panel-body

    - if current_user.meals.size > 0
      - current_user.meals.each do |meal|
        %div.media.media-meal
          = link_to meal_path(meal), class: 'pull-left' do
            - if meal.picture
              = image_tag meal.picture.url(:tiny)
            - else
              = image_tag "Meal"

          %div.media-body
            %h4.media-heading
              = link_to meal.name, meal_path(meal)

            %div.info
              == Porcje: #{meal.portions} x #{meal.price_per_portion} PLN
            %div.date
              == Kiedy: #{I18n.l(meal.served_at, format: :short)}

          %div.actions
            = link_to "edycja", edit_meal_path(meal)


          - if meal.meal_shares.size > 0
            %div.meal-participants
              - meal.meal_shares.each do |share|
                %div.profile-item
                  = image_tag share.user.avatar.url(:thumb), class: "rounded"
                  %span.name
                    = share.user.name
                    = "x #{share.ordered_portions}"
    - else
      %p Aktualnie, nie masz żadnych udostępnianych posiłków
  %div.panel-footer
    = link_to "Dodaj nowy posiłek", new_meal_path, class: 'btn btn-primary'
